[alias]
  st = status
  co = checkout
  br = branch
  cp = cherry-pick
[user]
	name = KODA Hiroshi
	email = koda@paymentfor.com
[core]
    # UTF-8のエンコード指定を含むvimの設定例。
    editor = /usr/bin/vim --nofork -c 'set fenc=utf-8' +1
[pager]
    branch = cat
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[commit]
	template = /Users/koda/.gitmessage
